<?php

$config = array(
    'stomp_path' => "/home/you/work/stomp_php/Stomp.php",

    'log_level' => LOG_LEVEL_DEBUG,
    
    'verified_queue' => '/queue/test_donations',

    'pending_queue' => '/queue/pending_globalcollect',
);
