;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; Settings file for queue_handler Listener. 
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; Section: db
;
; The db section supplies the adapter with the parameters to establish a
; connection to the database. 
;
; Parameters:
; - database:	The database to connect
; - adapter:	The database adapter - Mysqli
; - flags:		The database flags to pass to the adapter - See PHP manual
; - host:		The database host
; - password:	The password to the database. This cannot be empty.
; - socket:		The socket to the adapter.
; - username:	The username for the database. 
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[db]
database	= 'civicrm'
adapter		= 'Mysqli'
;flags		= MYSQLI_CLIENT_INTERACTIVE
host		= 'localhost'
password	= 'somepassword'
;socket		= '/tmp/mysql.sock'
username	= 'mediawiki'

