<phpunit bootstrap="../Bootstrap.php">
	<filter>
		<blacklist>
			<directory>../library</directory>
			<directory>../tests</directory>
		</blacklist>
		<whitelist>
			<directory>../</directory>
			<exclude>
				<directory>../library</directory>
				<directory>../payflowpro</directory>
				<directory>../paypal</directory>
				<directory>../tests</directory>
				<file>../Listener.GlobalCollect.php</file>
				<file>../Listener.GlobalCollect.form.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>